main {
  display: flex;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--background-color);
  scrollbar-color: var(--text-gray) var(--background-color);
}
main::-webkit-scrollbar-track {
  background: var(--background-color);
}

.channel {
  margin-left: 200px;
  margin-top: 80px;
  padding: 0 var(--spacing-unit-xxl) var(--spacing-unit-m)
    var(--spacing-unit-xl);
  width: calc(100% - 200px);
}

.channel-header-photo {
  width: 100%;
  height: 280px;
  border-radius: var(--radius-unit-s);
}

.channel-header {
  display: flex;
  justify-content: space-between;
  margin-top: var(--spacing-unit-s);
}

.channel-info {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 1fr, 0.9fr;
  column-gap: var(--spacing-unit-xxs);
}

.channel-photo {
  width: 80px;
  height: 80px;
  border-radius: var(--radius-unit-circle);
  grid-row: span 2;
}

.channel-nickname {
  align-self: flex-end;
  font-weight: 700;
  font-size: var(--font-size-xl);
  line-height: 100%;
  letter-spacing: 0px;
}

.channel-header-btns {
  display: flex;
  align-items: center;
  gap: var(--spacing-unit-xs);
}

.icon-btn {
  border: none;
  background-color: transparent;
  color: var(--text-gray);
}

.icon-btn:hover {
  color: var(--text-gray-hover);
}

.channel-subscribers {
  font-weight: 400;
  font-size: var(--font-size-xs);
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--text-light-gray);
}

.subscribe-btn {
  border: none;
  border-radius: var(--radius-unit-l);
  padding: var(--spacing-unit-3xs) var(--spacing-unit-xs);
  background-color: var(--primary-color);
  color: var(--text-white);
}

.subscribe-btn:hover {
  background-color: var(--primary-color-hover);
}

.main-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  row-gap: var(--spacing-unit-l);
  margin-top: var(--spacing-unit-xs);
}

.channel-navigation {
  display: flex;
  gap: var(--spacing-unit-xxl);
}
.channel-navigation-btn {
  color: var(--text-gray);
  background-color: transparent;
  border: none;
  font-weight: 400;
  font-size: var(--font-size-l);
  line-height: 100%;
  letter-spacing: 0px;
}
.channel-navigation-btn:hover {
  color: var(--text-gray-hover);
}
.active-channel-navigation-btn {
  color: var(--primary-color);
  position: relative;
}
.active-channel-navigation-btn:hover {
  color: var(--primary-color-hover);
}
.active-channel-navigation-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 110%;
  height: 3px;
  border-radius: 3px;
  background-color: var(--primary-color);
  translate: -5%;
}

.main-video {
  display: flex;
  gap: var(--spacing-unit-s);
  width: 90%;
}
.main-video-preview {
  width: 50%;
  position: relative;
}
.main-video img {
  width: 100%;
  aspect-ratio: 54/30;
  border-radius: var(--radius-unit-s);
}
.main-video-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-unit-3xs) 0;
}
.main-video-title {
  font-weight: 700;
  font-size: var(--font-size-xl);
  line-height: 34px;
  letter-spacing: 0px;
  color: var(--text-dark);
}
.main-video-description {
  font-weight: 400;
  font-size: var(--font-size-s);
  line-height: 22px;
  letter-spacing: 0px;
  color: var(--text-dark-gray);
}
.main-video-metadata {
  font-weight: 400;
  font-size: var(--font-size-m);
  line-height: 22px;
  letter-spacing: 0px;
  color: var(--text-light-gray);
}

.recommended-channel {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit-s);
  grid-row: span 2;
  align-self: center;
}
.recommended-channel-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit-s);
}
.recommended-channel-link {
  display: flex;
  align-items: center;
  gap: var(--spacing-unit-xs);
  color: var(--text-dark);
}
.recommended-channel-pic {
  width: 50px;
  height: 50px;
  border-radius: var(--radius-unit-circle);
}

.video-container {
  margin-top: var(--spacing-unit-xl);
  padding-bottom: var(--spacing-unit-xxl);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit-s);
  position: relative;
}
.videos-list-header {
  display: flex;
  justify-content: space-between;
}
.videos-list-btns {
  display: flex;
  gap: var(--spacing-unit-3xs);
}
.videos-list-btns button {
  width: 28px;
  height: 28px;
  padding: var(--spacing-unit-3xs);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--text-light-gray);
  border: none;
  border-radius: var(--radius-unit-circle);
}
.videos-list {
  display: flex;
  overflow-x: auto;
  gap: var(--spacing-unit-m);
  width: calc(100vw - 240px);
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.videos-list::-webkit-scrollbar {
  display: none;
}
.videos-list:last-child {
  padding-right: var(--spacing-unit-xxl);
}
.video {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-unit-3xs);
  border-radius: var(--radius-unit-s);
}
.video-preview {
  width: 250px;
  position: relative;
}
.video-preview img {
  width: 100%;
  aspect-ratio: 5/3;
  border-radius: var(--radius-unit-s);
}
.video-timing {
  position: absolute;
  padding: 3px 10px;
  border-radius: var(--radius-unit-xs);
  background-color: var(--timing-background-color);
  color: var(--text-white);
  font-weight: 400;
  font-size: var(--font-size-xs);
  line-height: 100%;
  letter-spacing: 0px;
  bottom: 10px;
  right: 10px;
}
.video-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.video-title {
  font-weight: 700;
  font-size: var(--font-size-m);
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--text-dark);
}
.video-meta {
  font-weight: 400;
  font-size: var(--font-size-xs);
  line-height: 100%;
  letter-spacing: 0px;
  color: var(--text-light-gray);
  display: flex;
  justify-content: space-between;
}
